

// Style
// 規範：長寬皆以 vh, vw 表示

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
$color_orange: #ed9027;
$color_green: #5fb8a3;
$color_black: #000000;
$color_dark: #4d4d4d;
$color_light: #666666;
$opacity_low: 0.7;
$opacity_mid: 0.4;
$opacity_high: 0.2;
$trans_fast: 0.2s;
$trans_mid: 0.5s;
$trans_slow: 1s;



#about_intro {
    position: relative;     // 這一段是新的
    width: 60vw;     // 這一段是新的
    height: 80vh;     // 這一段是新的
    top: 20vh;     // 這一段是新的
    left: 22vw;     // 這一段是新的
    .greenline {     // 這一段是新的
        position: absolute;     // 這一段是新的
        display: inline-block;     // 這一段是新的
        top: 29vh;     // 這一段是新的
        left: -30px;     // 這一段是新的
        width: 5px;     // 這一段是新的
        background: $color_green;     // 這一段是新的
        height: 120px;     // 這一段是新的
    }     // 這一段是新的
    .paragraph {     // 這一段是新的
        position: relative;     // 這一段是新的
        line-height: 20px;     // 這一段是新的
        letter-spacing: 1px;     // 這一段是新的
        margin-bottom: 30px;     // 這一段是新的
    }
}


#about_member {
    position: relative;     // 這一段是新的
    width: 60vw;     // 這一段是新的
    height: 60vh;     // 這一段是新的
    top: 100vh;     // 這一段是新的
    left: 20vw;     // 這一段是新的
    h2 {
        margin-top: -42vh;     // 這一段是新的
        line-height: 120px;     // 這一段是新的
        font-size: 32px;     // 這一段是新的
        font-weight: 100;     // 這一段是新的
        letter-spacing: 5px;     // 這一段是新的
    }
    #activity_list {
        position: absolute;     // 這一段是新的
        z-index: 100;     // 這一段是新的
        left: -5vw;     // 這一段是新的
        width: 70vw;     // 這一段是新的
        height: 70vh;     // 這一段是新的
        overflow-x: hidden;     // 這一段是新的
        overflow-y: scroll;     // 這一段是新的
        .row {
            width: 12vw;
            margin-left: 2vw;
            display: inline-block;
        }
        #row_1 {
            position: absolute;
            left: 4vw;
            top: 5vh;
        }
        #row_2 {
            position: absolute;
            left: 20vw;
            top: 22vh;
        }
        #row_3 {
            position: absolute;
            left: 36vw;
            top: 12vh;
        }
        #row_4 {
            position: absolute;
            left: 52vw;
            top: 42vh;
        }
        .activity_item {
            position: relative;
            width: 100%;
            height: 30vh;
            overflow: hidden;
            cursor: pointer;
            text-align: center;
            margin: 0vh 0vh 6vh 0vh;
            transition: $trans_mid;
            .auto_adjust {
                height: 100%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                background: grey;
                &.fat {
                    img {
                        height: 100%;
                        width: auto;
                    }
                }
                &.tall {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .preview_pic {
                    -webkit-filter: brightness(40%);
                    filter: brightness(40%);
                    transition: brightness $trans_mid;
                }
            }
            .preview_more {
                position: absolute;
                z-index: 20;
                left: 0;
                right: 0;
                bottom: 14vh;
                margin: auto;
                width: 8vh;
                height: 8vh;
                opacity: 0;
                display: block;
                background: $color_orange;
                background-image: url('../img/project_more.png');
                background-size: 50%;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 100vh;
                transition: bottom $trans_mid, width $trans_mid, height $trans_mid, opacity $trans_slow, brightness $trans_mid;
            }
            .preview_title {
                position: absolute;
                z-index: 30;
                left: 0;
                right: 0;
                bottom: 16vh;
                margin: auto;
                color: $color_orange;
                font-size: 20px;
                letter-spacing: 2px;
                transition: opacity $trans_mid;
                &:after {
                    position: absolute;
                    top: 38px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    content: "";
                    display: block;
                    height: 2px;
                    width: 30px;
                    background: $color_orange;
                }
            }
            .preview_class {
                position: absolute;
                z-index: 30;
                left: 0;
                right: 0;
                bottom: 11vh;
                margin: auto;
                letter-spacing: 2px;
                transition: opacity $trans_mid;
            }
            .preview_date {
                position: absolute;
                z-index: 30;
                left: 0;
                right: 0;
                bottom: 8.5vh;
                margin: auto;
                opacity: $opacity_low;
                letter-spacing: 2px;
                transition: opacity $trans_mid;
            }
            .icon {
                &.culture {
                    background-image: url('../img/project_icon_culture.png');
                }
                &.digital {
                    background-image: url('../img/project_icon_digital.png');
                }
                &.social {
                    background-image: url('../img/project_icon_social.png');
                }
                position: absolute;
                z-index: 20;
                left: 0;
                right: 0;
                bottom: 10vh;
                margin: auto;
                width: 8vh;
                height: 8vh;
                display: block;
                background-position: center;
                background-repeat: no-repeat;
                transition: opacity $trans_mid;
            }
            &:hover {
                z-index: 100;
                height: 42vh;
                width: 18vw;
                transform: translate( -3vw, -2vh );
                .preview_pic {
                    -webkit-filter: brightness(100%);
                    filter: brightness(100%);
                }
                .preview_more {
                    bottom: 12vh;
                    height: 10vh;
                    width: 10vh;
                    opacity: 0.7;
                }
                .preview_title, .preview_class, .preview_date, .icon {
                    opacity: 0;
                }
            }
            &:active {
                .preview_pic {
                    -webkit-filter: brightness(30%);
                    filter: brightness(30%);
                }
                .preview_more {
                    -webkit-filter: brightness(80%);
                    filter: brightness(80%);
                }
            }
        }
    }
    
    #preview_control {
        position: absolute;     // 這一段是新的
        z-index: 200;     // 這一段是新的
        top: 20vh;     // 這一段是新的
        left: 80vw;     // 這一段是新的
        margin-left: 50px;     // 這一段是新的
        margin-top: -40px;     // 這一段是新的
        .sort_way {
            position: relative;
            color: $color_orange;
            display: block;
            height: 60px;
            letter-spacing: 2px;
            cursor: pointer;
            transition: opacity $trans_mid;
            &:after {
                position: absolute;
                top: 24px;
                left: 0;
                content: "";
                display: block;
                height: 2px;
                width: 16px;
                background: $color_orange;
                transition: width $trans_fast;
            }
            &:hover {
                opacity: $opacity_low;
            }
            &.now {
                &:after {
                    position: absolute;
                    top: 24px;
                    left: 0;
                    content: "";
                    display: block;
                    height: 2px;
                    width: 32px;
                    background: $color_orange;
                }
            }
            &:active {
                opacity: $opacity_mid;
            }
        }
    }
}