

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
$bottom_url: url('../img/bg_pic.png');
$cover_url: url('../img/bg_cover.png');
$color_green: #5fb8a4;
$color_orange: #ed9027;
$color_dark: #4d4d4d;
$color_light: #666666;
$opacity_hover: 0.7;
$opacity_active: 0.4;
$trans_fast: 0.2s;
$trans_mid: 0.5s;
$trans_slow: 1s;

body {
    font-family: 'Noto Sans', helvetica, Microsoft JhengHei, serif, sans-serif, monospace;
    color: white;
    overflow-x: hidden;
}

h1 {
    line-height: 120px;
    font-size: 45px;
    font-weight: 100;
    letter-spacing: 5px;
}

p {
    line-height: 30px;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 0px;
}

// 添加 scrollbar

.with_scroll {
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
    }
    &::-webkit-scrollbar {
        width: 3px;
        height: 0%;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: $color_orange;
    }
}

// 四大頁面共同處

.main_round_pic {
    position: absolute;
    left: 48vw;
    top: 20vh;
    width: 60vh;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.intro_left {
    position: absolute;
    left: 20vw;
    top: 20vh;
    width: 16vw;
    p {
        position: relative;
        line-height: 29px;
        font-size: 14px;
        font-weight: 100;
        letter-spacing: 3px;
        top: -10px;
    }
    .space {
        height: 14vh;
    }
    #you_can {
        float: left;
        margin-right: 15px;
    }
    #search {
        position: relative;
        z-index: 20;
        float: left;
        background: url("../img/search.png");
        height: 18px;
        width: 82px;
        text-decoration: none;
        &:hover {
            background: url("../img/search_on.png");
        }
        &:active {
            opacity: $opacity_active;
        }
    }
}

// 按鈕們

.botton {
    &.tiny {
        position: relative;
        display: inline;
        cursor: pointer;
        z-index: 10;
        font-size: 12px;
        font-weight: 100;
        letter-spacing: 1px;
        color: $color_orange;
        top: -1px;
        padding: 0px 5px;
        margin: 0px 5px;
        background: $color_dark;
        transition: $trans_fast;
        &:hover {
            color: black;
            background: $color_orange;
        }
        &:active {
            filter: brightness(60%);
            -webkit-filter: brightness(60%);
        }
    }
}

.kill_scrollbar {
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    &::-webkit-scrollbar-thumb {
        background: transparent;
    }
}