

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
$bottom_url: url('../img/bg_pic.png');
$cover_url: url('../img/bg_cover.png');
$project_cover_url: url('../img/project_cover.png');
$color_green: #5fb8a4;
$color_orange: #ed9027;
$opacity_hover: 0.7;
$opacity_active: 0.4;
$trans_fast: 0.2s;
$trans_mid: 0.5s;
$trans_slow: 1s;

.background {
    position: fixed;
    z-index: -1;
}

.bottom {
    position: fixed;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    background-image: $bottom_url;
    background-repeat: no-repeat;
    background-size: cover;
}

.cover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0.3;
    background-image: $cover_url;
    background-repeat: no-repeat;
    background-size: cover;
}

.project_cover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background-image: $project_cover_url;
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar_cover {
    position: absolute;
    z-index: 50;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    color: transparent;
}

.halfscreen_cover {
    position: absolute;
    z-index: 50;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    color: transparent;
}