

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
$bottom_url: url('../img/bg_pic.png');
$cover_url: url('../img/bg_cover.png');
$color_green: #5fb8a4;
$color_orange: #ed9027;
$opacity_hover: 0.7;
$opacity_active: 0.4;
$trans_fast: 0.2s;
$trans_mid: 0.5s;
$trans_slow: 1s;

.top_left_logo {
    position: fixed;
    z-index: 100;
    margin: 50px 80px;
    transition: opacity $trans_fast;
    &:hover {
        opacity: $opacity_hover;
    }
    &:active {
        opacity: $opacity_active;
    }
}

.left_bar {
    position: fixed;
    z-index: 100;
    bottom: 51vh;
    transform: rotate(-90deg);
    height: 0vw;
    p {
        font-size: 12px;
        letter-spacing: 3px;
    }
    .item_now {
        opacity: 1;
        &:after {
            opacity: 1;
            height: 16px;
            width: 16px;
            top: 33px;
        }
    }
    a {
        position: relative;
        float: left;
        padding: 0px 30px 30px 30px;
        top: -160px;
        text-decoration: none;
        color: white;
        opacity: $opacity_hover;
        &:after {
            position: absolute;
            margin: auto;
            content: "";
            display: block;
            left: 0;
            right: 0;
            top: 35px;
            height: 10px;
            width: 10px;
            border-radius: 100%;
            background: white;
            opacity: $opacity_hover;
            transition: opacity $trans_fast, height $trans_fast, width $trans_fast, top $trans_fast;
        }
        &:hover {
            opacity: 1;
            &:after {
                opacity: 1;
                height: 16px;
                width: 16px;
                top: 33px;
            }
        }
        &:active {
            opacity: $opacity_active;
        }
    }
}

.bottom_left_bar {
    position: fixed;
    z-index: 100;
    bottom: 0;
    margin: 50px 80px;
    width: 100vw;
    #menu_only_icon {
        position: relative;
        width: 25px;
        left: 10px;
        margin-right: 40px;
    }
    &:hover {
        .menu_icon {
            cursor: pointer;
        }
        #burger_icon {
            #menuline_1, #menuline_2 {
                stroke-dasharray: 32;
            }
        }
        .menu_content {
            left: 0;
            opacity: 1;
            padding-bottom: 100px;
            transition: opacity $trans_fast;
            &:active {
                opacity: $opacity_active;
            }
        }
    }
    #burger_icon {
        position: absolute;
        top: 0px;
        left: 46px;
        circle {
            stroke: $color_orange;
            fill: $color_orange;
        }
        line {
            stroke-width: 2;
            stroke: $color_orange;
            transition: stroke-dasharray $trans_fast;
        }
        #menuline_1 {
            stroke-dasharray: 19;
        }
        #menuline_2 {
            stroke-dasharray: 23;
        }
    }
    .menu_content {
        position: relative;
        display: inline;
        top: -15px;
        left: -30px;
        opacity: 0;
        line-height: 30px;
        font-size: 12px;
        font-weight: 100;
        margin-left: 30px;
        text-decoration: none;
        color: white;
        // text-shadow: 10px 10px 5px rgba(0,0,0,1);
        text-shadow: 0px 0px 20px black, 0px 0px 20px black, 0px 0px 20px black;
        transition: left $trans_slow ease-out, opacity $trans_slow ease-in;
        &:before {
            position: absolute;
            top: 25px;
            left: 1px;
            content: "";
            display: block;
            height: 1px;
            width: 0px;
            background: $color_orange;
            transition: width $trans_fast;
        }
        &:hover {
            &:before {
                width: 20px;
            }
        }
        &:active {
            opacity: $opacity_active;
        }
    } 
}