
.no_support_info {
    position: absolute;
    display: flex;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    p {
        z-index: 10;
        font-size: 12px;
        word-wrap: break-word;    
        color: white;
        letter-spacing: 2px;
        line-height: 24px;
    }
}

.no_support_bg {
    position: absolute;
    z-index: -1;
    left: -5vw;
    top: -5vh;
    width: 110vw;
    height: 110vh;
    overflow: hidden;
    background: rgba(76,73,72,1);
    background: -moz-linear-gradient(top, rgba(76,73,72,1) 0%, rgba(4,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(76,73,72,1)), color-stop(100%, rgba(4,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(76,73,72,1) 0%, rgba(4,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(76,73,72,1) 0%, rgba(4,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(76,73,72,1) 0%, rgba(4,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(76,73,72,1) 0%, rgba(4,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4948', endColorstr='#040000', GradientType=0 );
}